
.top-blocks
{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}

.bot-blocks
{
    display : flex;
    flex-direction: row;
    justify-content : space-between;
    margin-top : 85vh;
}
